<div class="conteneur">
    <div class="header-now" *ngFor="let info of wttrInfo">
      <h2 *ngFor="let area of info.nearest_area">{{area.areaName[0].value}}, {{area.region[0].value}}, {{area.country[0].value}}</h2>
      <div class="now-hourly-details" *ngFor="let current of info.current_condition">
          <p><strong>Température : </strong>{{current.temp_C}} C (ressentie {{current.FeelsLikeC}})</p><hr>
          <p><strong>Conditions : </strong>{{current.weatherDesc[0].value}}</p><hr>
          <p><strong>Vents : </strong>{{current.windspeedKmph}} Km/h - {{current.winddir16Point}}</p><hr>
          <p><strong>Visibilité : </strong>{{current.visibility}} Km</p><hr>
          <p><strong>UV : </strong>{{current.uvIndex}}</p><hr>
          <p><strong>Humidité : </strong>{{current.humidity}} %</p><hr>
          <p><strong>Précipitations : </strong>{{current.precipMM}} mm</p><hr>
          <p>Dernière observation : {{current.localObsDateTime}} (heure local)</p>
      </div>
    </div>
</div>
    
