<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

    <!-- Footer Links -->
    <div class="text-white container-fluid text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-5 mt-md-0 mt-3">
  
          <!-- Content -->
          <h5 class="text-uppercase">Powered by</h5>
          <p>Nico & Serge © 2022 Copyright: <a class="text-white" href=""> MÉTÉO WIKI</a>
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
            <!-- Links -->
            <h5 class="text-uppercase">Liens</h5>
  
            <ul class="list-unstyled">
              <li>
                <a class="text-white" href="https://www.meteomedia.com/ca">Météo Média</a>
              </li>
              <li>
                <a href="#!"></a>
              </li>
              <li>
                <a href="#!"></a>
              </li>
              <li>
                <a href="#!"></a>
              </li>
            </ul>
  
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">
  
            <!-- Links -->
            <h5 class="text-uppercase">Links</h5>
  
            <ul class="list-unstyled">
              <li>
                <a class="text-white" href="https://www.theweathernetwork.com/ca">Weather Network</a>
              </li>
            
            </ul>
  
          </div>
          <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
