
<div class=" header-hourly espace-bas">
    <div class="header-auth">
<p class="text-align">Vous devez vous connecter!</p>
<form #authForm="ngForm">
    <div>
        <input name="username" type="text" placeholder="Nom utilisateur" required ngModel>
    </div>
    <br>
    <div>
        <input name="password" type="password" placeholder="Mot de passe" required ngModel>
    </div>
    <br>
    <button class="btn btn-primary leftmargin" (click)="login(authForm)" [disabled]="!authForm.valid">Se connecter</button> | <button class="btn btn-primary" [disabled]="!authForm.valid" (click)="signup(authForm)">S'inscrire </button>
    <p>{{errorMessage}}</p>
</form>
  </div>
</div>