<div>
    <div class="header">
      <p  class="text-white font-weight-bolder"><img src="assets/logo.png" alt="Météo Wiki" width="42" height="42" class="text-img">&nbsp;&nbsp;&nbsp;Météo Wiki</p>
      <form>
        <input [(ngModel)]="searchText" type="text" id="search" name="search" placeholder="Montréal" size="100">
        <button class="btn btn-primary" type="button" (click)="update()">Chercher</button>
      </form>
    </div>
    <div class="header-link">
        <a routerLink="/weather/now" rel="noopener noreferrer">Conditions actuelles</a>
        <a routerLink="/weather/hourly" rel="noopener noreferrer">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Prochaines heures</a>
        <a routerLink="/auth" rel="noopener noreferrer">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Connexion</a>
    </div>
</div>

