<div class="header-hourly" *ngFor="let info of wttrInfo">
  <h2 *ngFor="let area of info.nearest_area">{{area.areaName[0].value}}, {{area.region[0].value}}, {{area.country[0].value}}</h2>
  <div class="now-hourly-details" *ngFor="let current of info.current_condition">
      <p >{{current.localObsDateTime}} : {{current.temp_C}} C ({{current.FeelsLikeC}}) : {{current.weatherDesc[0].value}}</p>
  </div>
  <div class="conteneur">
        <div class="body-hourly-details" *ngFor="let w of info.weather">
            <p><strong>{{w.date}}</strong> : {{w.avgtempC}} C</p>
            <table>
                <tr>
                    <td>
                        <strong>Soleil:</strong>
                    </td>
                    <td>
                        {{w.astronomy[0].sunrise}} - {{w.astronomy[0].sunset}}
                    </td>
                </tr>
                <tr *ngFor="let h of w.hourly">
                    <td class="time-align">
                        <strong>{{convert(h.time)}}:</strong>
                    </td>
                    <td>
                       {{h.FeelsLikeC}} C, {{h.weatherDesc[0].value}}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
